@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';

.iconGroup {
  i {
    margin-left: 16px;
    color: @text-color-secondary;
    cursor: pointer;
    transition: color 0.32s;

    &:hover {
      color: @text-color;
    }
  }
}

.rankingList {
  margin: 25px 0 0;
  padding: 0;
  list-style: none;

  li {
    .clearfix();

    display: flex;
    align-items: center;
    margin-top: 16px;

    span {
      color: @text-color;
      font-size: 14px;
      line-height: 22px;
    }

    .rankingItemNumber {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-top: 1.5px;
      margin-right: 16px;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      background-color: @background-color-base;
      border-radius: 20px;

      &.active {
        color: #fff;
        background-color: #314659;
      }
    }

    .rankingItemTitle {
      flex: 1;
      margin-right: 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.everydayExtraWrap {
  float: right;
}

.salesExtra {
  display: inline-block;
  margin-right: 24px;

  a {
    margin-left: 24px;
    color: @text-color;

    &:hover {
      color: @primary-color;
    }

    &.currentDate {
      color: @primary-color;
    }
  }
}

.salesCard {
  .salesBar {
    padding: 0 0 32px 32px;
  }

  .salesRank {
    padding: 0 32px 32px 72px;
  }

  :global {
    .ant-tabs-bar {
      padding-left: 16px;

      .ant-tabs-nav .ant-tabs-tab {
        padding-top: 16px;
        padding-bottom: 14px;
        line-height: 24px;
      }
    }

    .ant-tabs-extra-content {
      padding-right: 24px;
      line-height: 55px;
    }

    .ant-card-head {
      position: relative;
    }

    .ant-card-head-title {
      align-items: normal;
    }
  }
}

.salesCardExtra {
  height: inherit;
}

.salesTypeRadio {
  position: absolute;
  right: 54px;
  bottom: 12px;
}

.offlineCard {
  :global {
    .ant-tabs-ink-bar {
      bottom: auto;
    }

    .ant-tabs-bar {
      border-bottom: none;
    }

    .ant-tabs-nav-container-scrolling {
      padding-right: 40px;
      padding-left: 40px;
    }

    .ant-tabs-tab-prev-icon::before {
      position: relative;
      left: 6px;
    }

    .ant-tabs-tab-next-icon::before {
      position: relative;
      right: 6px;
    }

    .ant-tabs-tab-active h4 {
      color: @primary-color;
    }
  }
}

.twoColLayout {
  .salesCard {
    height: calc(100% - 24px);
  }

  div[class^='ant-col']:last-child {
    position: absolute \9;
    right: 0 \9;
    height: 100% \9;
  }

  :global {
    .ant-row {
      position: relative \9;
      display: flex;
      display: block \9;
      flex-flow: row wrap;
    }
  }
}

.trendText {
  margin-left: 8px;
  color: @heading-color;
}

@media screen and (max-width: @screen-lg) {
  .salesExtra {
    display: none;
  }

  .rankingList {
    li {
      span:first-child {
        margin-right: 8px;
      }
    }
  }
}

@media screen and (max-width: @screen-md) {
  .rankingTitle {
    margin-top: 16px;
  }

  .salesCard .salesBar {
    padding: 16px;
  }
}

@media screen and (max-width: @screen-sm) {
  .salesExtraWrap {
    display: none;
  }

  .salesCard {
    :global {
      .ant-tabs-content {
        padding-top: 30px;
      }
    }
  }
}

.pg-viewer-wrapper {
  // overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: row;

  .docx {
    width: 100%;
    height: 100%;
    // font-family: '宋体', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    div > p:nth-child(1){
      font-size: 48px;
      text-align: center;
    }

    div > p:nth-child(2) {
      font-size: 18px;
      text-align: center;
    }

    div > p:nth-child(3){
      font-size: 21px;
      white-space:pre
    }

    div > p:nth-child(3):after {
      content: '';
      display: block;
      width: 100%;
      height: 1.5pt;
      color: black;
      background-color: red;
    }


    div > p:nth-child(4) {
      font-size: 21px;
      text-align: center;
    }
  }
  
  
  .document-container {
    padding: 30px;
    width: 700px;
    background: white;
    margin: auto;
  }



  .pg-viewer {
    height: 100%;
    position: relative;
    flex-grow: 2;

    .pg-driver-view {
      margin: auto;
      width: 100%;
      height: 100%;

      .loading {
        position: relative;
      }

      canvas, .react-grid-Container {
        width:100%;
      }
    }
  }

  html,
  bodyaddress,                                    
  blockquote,
  body,
  dd,
  div,
  dl,
  dt,
  fieldset,
  form,
  frame,
  frameset,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  noframes,
  ol,
  p,
  ul,
  center,
  dir,
  hr,
  menu,
  pre {
    display: block;
    unicode-bidi: embed;
  }
  li {
    display: list-item;
    list-style-type: disc;
  }
  head {
    display: none
  }
  table {
    display: table
  }
  img {
    width: 100%
  }
  tr {
    display: table-row
  }
  thead {
    display: table-header-group
  }
  tbody {
    display: table-row-group
  }
  tfoot {
    display: table-footer-group
  }
  col {
    display: table-column
  }
  colgroup {
    display: table-column-group
  }
  th {
    display: table-cell
  }
  td {
    display: table-cell;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0.2em 0.5em;
  }
  caption {
    display: table-caption
  }
  th {
    font-weight: bolder;
    text-align: center;
  }
  caption {
    text-align: center
  }
  body {
    margin: 8px
  }
  h1 {
    font-size: 2em;
    margin: .67em 0;
  }
  h2 {
    font-size: 1.5em;
    margin: .75em 0;
  }
  h3 {
    font-size: 1.17em;
    margin: .83em 0;
  }
  h4,
  p,
  blockquote,
  ul,
  fieldset,
  form,
  ol,
  dl,
  dir,
  menu {
    margin: 1.12em 0
  }
  h5 {
    font-size: .83em;
    margin: 1.5em 0;
  }
  h6 {
    font-size: .75em;
    margin: 1.67em 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong {
    font-weight: bolder
  }
  blockquote {
    margin-left: 40px;
    margin-right: 40px;
  }
  i,
  cite,
  em,
  var,
  address {
    font-style: italic
  }
  pre,
  tt,
  code,
  kbd,
  samp {
    font-family: monospace
  }
  pre {
    white-space: pre
  }
  button,
  textarea,
  input,
  select {
    display: inline-block
  }
  big {
    font-size: 1.17em
  }
  small,
  sub,
  sup {
    font-size: .83em
  }
  sub {
    vertical-align: sub
  }
  sup {
    vertical-align: super
  }
  table {
    border-spacing: 2px
  }
  thead,
  tbody,
  tfoot {
    vertical-align: middle;
    border: 1px solid rgb(204,204,204);
  }
  td,
  th,
  tr {
    vertical-align: inherit
  }
  s,
  strike,
  del {
    text-decoration: line-through
  }
  hr {
    border: 1px inset
  }
  ol,
  ul,
  dir,
  menu,
  dd {
    margin-left: 40px
  }
  ol {
    list-style-type: decimal
  }
  ol ul, ol ul,
  ul ol, ul ol,
  ul ul, ul ul,
  ol ol, ol ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  u,
  ins {
    text-decoration: underline
  }
  br:before {
    content: "\A";
    white-space: pre-line;
  }
  center {
    text-align: center
  }
  :link,
  :visited {
    text-decoration: underline
  }
  :focus {
    outline: thin dotted invert
  }
  /* Begin bidirectionality settings (do not change) */
  BDO[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: bidi-override;
  }
  BDO[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  *[DIR="ltr"] {
    direction: ltr;
    unicode-bidi: embed;
  }
  *[DIR="rtl"] {
    direction: rtl;
    unicode-bidi: embed;
  }
  @media print {
    h1 {
      page-break-before: always
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      page-break-after: avoid
    }
    ul,
    ol,
    dl {
      page-break-before: avoid
    }
  }
}