@import '~antd/lib/style/themes/default.less';

.articleList {
  :global {
    .ant-list-item:first-child {
      padding-top: 0;
    }
  }
}
a.listItemMetaTitle {
  color: @heading-color;
}

.articleTitle {
  text-align: center;
  margin-top: 20px;
}

.operate {
  text-align: right;
}

.customsDescriptions {
  :global {
    .ant-descriptions-item-content {
      width: 90%;
    }

    .ant-descriptions-item-label {
      width: 10%;
    }
  }
}

.articleSummary{
  color: #000;
}

.listContent {
  .description {
    line-height: 30px;
    margin-bottom: 12px;
  }
  .extra {
    margin-top: 16px;
    color: @text-color-secondary;
    line-height: 22px;
    & > :global(.ant-avatar) {
      position: relative;
      top: 1px;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      vertical-align: top;
    }
    & > em {
      margin-left: 16px;
      color: @disabled-color;
      font-style: normal;
    }
  }
}