@import '~antd/lib/style/themes/default.less';

.articleList {
  :global {
    .ant-list-item:first-child {
      padding-top: 0;
    }
  }
}

a.listItemMetaTitle {
  color: @heading-color;
  font-weight: bold;
  font-size: 15px;
}

.articleTitle {
  text-align: center;
  margin-top: 20px;
}

.operate {
  text-align: right;
}

.isActive {
  color:red;
}

.customsDescriptions {
  :global {
    .ant-descriptions-item-content {
      width: 90%;
    }

    .ant-descriptions-item-label {
      width: 10%;
    }
  }
}

