@import '~antd/lib/style/themes/default.less';

.articleList {
  line-height: 30px;
  :global {
    .ant-list-item:first-child {
      padding-top: 0;
    }
  }
}

a.listItemMetaTitle {
  color: @heading-color;
  font-weight: bold;
  font-size: 15px;
}

.articleWrapper {
  margin: 0 auto;
  text-align: center;
}

.articleDetail {
  margin: 0 auto;
}

.articleTitle {
  text-align: center;
  margin-top: 20px;
}

.listContent {
  .description {
    line-height: 30px;
    margin-bottom: 12px;
  }
  .extra {
    margin-top: 16px;
    color: @text-color-secondary;
    line-height: 22px;
    & > :global(.ant-avatar) {
      position: relative;
      top: 1px;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      vertical-align: top;
    }
    & > em {
      margin-left: 16px;
      color: @disabled-color;
      font-style: normal;
    }
  }
}

.tagsTitle {
  line-height: 30px;
  font-weight:bold;
  font-size: 15px;
  margin-right: 24px;
  text-align:right;
}

.tags {
  line-height: 30px;
}

.docTbStyle{
  :global {
    table{
      border: 1px solid  #666666;
      width: 100%;
    }
    td{
      border: 1px solid  #666666;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
    td:first-child{width: 15%}
    th{
      border: 1px solid  #666666;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
    th:first-child{width: 15%}
    ul{
      margin-left: -40px;
    }
  }
}