@import '~antd/lib/style/themes/default.less';

.listContent {
  .description {
    line-height: 30px;
    margin-bottom: 12px;
  }
  .extra {
    margin-top: 16px;
    color: @text-color-secondary;
    line-height: 22px;
    & > :global(.ant-avatar) {
      position: relative;
      top: 1px;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      vertical-align: top;
    }
    & > em {
      margin-left: 16px;
      color: @disabled-color;
      font-style: normal;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .listContent {
    .extra {
      & > em {
        display: block;
        margin-top: 8px;
        margin-left: 0;
      }
    }
  }
}

.articleTitle {
  text-align: center;
  margin-top: 20px;
}

.articleSummary{
  color: #000;
}


a.listItemMetaTitle {
  color: @heading-color;
  font-weight: bold;
  font-size: 15px;
}

.operate {
  text-align: right;
}

.customsDescriptions {
  :global {
    .ant-descriptions-item-content {
      width: 90%;
    }

    .ant-descriptions-item-label {
      width: 10%;
    }
  }
}

.isActive {
  color:red;
}

.LineHeight {
  line-height: 30px;
}

.docTbStyle{
  :global {
    table{
      border: 1px solid  #666666;
      width: 100%;
    }
    td{
      border: 1px solid  #666666;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
    td:first-child{width: 15%}
    th{
      border: 1px solid  #666666;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
    th:first-child{width: 15%}
    ul{
      margin-left: -40px;
    }
  }
}

.icon {
  //padding-left: 400px;
  margin: 5px auto 0;
  display: block;
  font-size: 20px;
}

.fadeOut{
  table {
    border-image: linear-gradient(to bottom, black, white);
  }
  background: linear-gradient(to bottom, black, white);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  height: 227px;
  overflow: hidden;
  transition: height 0.5s;

}
.fadeIn{
  height: auto;
  transition: height 0.5s;
}